@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}


/* ------ ABOUT -------- */

.about {
  background-color: #060b26;
  color: #FDFEFF;
  margin-top: 2%;
  padding: 5%;
  text-align: center;
  width: 100%;
}

.aboutHeader {
  color: #fd585c;
  font-size: 4rem;
  margin-bottom: 5%;
}

.aboutPara {
  font-size: 2rem;
  line-height: 2;
}

/* ------ ADD PET ------- */

.addPetButton {
  background-color: #FDFEFF;
  border: .2rem solid;
  border-radius: 0.4rem;
  color: #fd585c;
  font-family: inherit;
  font-weight: bold;
  font-size: .8rem;
  margin-top: 2%;
  padding: .5rem;
  transition: .2s;
  width: 7rem;
}

.addPetButton:hover {
  background-color: #fd585c;
  border-color: #FDFEFF;
  color: white;
}

.addPetForm {
  background-color: #060b26;
  color: white;
  margin-top: 5%;
  padding: 2%;
  text-align: center;
  width: 40%;
}

.addPetHeader {
  font-size: 2.2rem;
  margin-bottom: 5%;
}

.addPetInput {
  border: 2px solid #fd585c;
  border-radius: 4px;
  margin-bottom: 5%;
  margin-left: 12%;
  margin-top: 5%;
  padding: 1%;
  width: 75%;
}

.addPetLabelDesc {
  font-size: 1.2rem;
}

.addPetLabel {
  font-size: 1.2rem;
}




/* ------ CONTACT ------- */


.contactBtn{
  background-color: #FDFEFF;
  border: .2rem solid;
  border-radius: 0.4rem;
  color: #fd585c;
  font-family: inherit;
  font-weight: bold;
  font-size: .8rem;
  margin-top: 7%;
  padding: .5rem;
  transition: .2s;
  width: 7rem;
}

.contactBtn:hover {
  background-color: #fd585c;
  border-color: #FDFEFF;
  color: white;
}

.contactForm {
  background-color: #060b26;
  color: white;
  margin-top: 5%;
  padding: 2% 0 2% 0;
  text-align: center;
  width: 40%;
}

.contactHeader {
  font-size: 2.5rem;
  margin-bottom: 5%;
}

.formInput {
  border: 2px solid #fd585c;
  border-radius: 4px;
  margin-bottom: 5%;
  margin-left: 12%;
  margin-top: 5%;
  padding: 1%;
  width: 75%;
}

.formLabel {
  font-size: 1.2rem;
}

.formMessageInput {
  border: 2px solid #fd585c;
  border-radius: 4px;
  margin-top: 5%;
  width: 75%;
}



/* ------ DETAILS ------ */


.adoptBtn {
  background-color: #FDFEFF;
  border: .2rem solid;
  border-radius: 0.4rem;
  color: #fd585c;
  font-family: inherit;
  font-weight: bold;
  font-size: .8rem;
  left: 65%;
  padding: .5rem;
  position: relative;
  transition: .2s;
  top: 14em;
  width: 7rem;
}

.adoptBtn:hover {
  background-color: #fd585c;
  border-color: #fd585c;
  color: white;
}

.boxPop {
  align-items: center;
  border-radius: 0.4rem;
  box-shadow: 0rem 27px 87px rgba(0,0,0,0.37);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  min-height: 38rem;
  max-height: 300vh;
  margin: 50px;
  transition: 0.2s;
  width:80%;
}

.boxPop:hover {
  transform: translateY(-0.5%);
  box-shadow: 0rem 27px 87px rgba(0, 0, 0, 0.7);
}


.detailsDescription {
  font-size: 1.5rem;
  padding-right: 2em;
  text-align: center;
} 

.detailsHeader {
  font-size: 300%;
  margin-left: .6em;
}

.detailsPic {
  display: block;
  margin-left: 5%;
  max-height: 25em;
  margin-top: 1.5em;
  max-width: 90%;
  min-height: 25em;
  min-width: 90%;
  object-fit: cover;
  position: relative;
}

.petDetailsLeft {
  flex: 1%;
}

.petDetailsRight {
  flex: 1%;
}

@media screen and (max-width: 1068px) {


  .adoptBtn{
    top:auto;
    left: 43%;
  } 
  
  .petDetailsRight, .petDetailsLeft{
    flex: 100%;
  }

}

@media screen and (max-width: 800px) {

  .adoptBtn{
    top:auto;
    left: 40%;
  } 

  .petDetailsLeft, .petDetailsRight{
    flex: 100%;
  }
}





/* -------HOME-------- */


.buttonContainer {
  padding: 4rem;
  text-align: center;
}

.dashboardButton {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.7rem;
  margin: 1rem;
  border: 4px solid;
  color: #FDFEFF;
  background-color: #fd585c;
  border-radius: 0.4rem;
  transition: .2s;
  width: 15rem;
}

.dashboardButton:hover {
  background-color: #FDFEFF;
  color: #fd585c;
}

.container {
  max-width: 1300px;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome {
  background-image: url('assets/dog.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  position: relative;
  text-align: center;
  width: 100%;
}

/* .welcome:before {
  content: "";
  position: absolute;
  width : 100%;
  height: 100vh;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;


  filter        : blur(1.5px);
  -moz-filter   : blur(1.5px);
  -webkit-filter: blur(1.5px);
  -o-filter     : blur(1.5px);

} */

.welcome-hs {
  left: 50%;
  position: relative;
  transform: translate(-50%, -45%);
  top: 45%;
  width: 60%;
}


.welcomeHeader {
  color:  #fd585c;
  font-size: 6rem;
  font-weight: 900;
} 


.welcomeDescription {
  color: #FDFEFF;
  font-size: 3em;
  padding-top: 3rem;
}





/* ------ LIST ALL ------- */

.add-pet {
  background-color: #FDFEFF;
  border: .2rem solid;
  border-radius: 0.4rem;
  color: #fd585c;
  font-family: inherit;
  font-weight: bold;
  font-size: .8rem;
  padding: .5rem;
  position: absolute;
  right: 1rem;
  top: 8.5rem;
  transition: .2s;
  width: 7rem;
}

.add-pet:hover {
  background-color: #fd585c;
  border-color: #fd585c;
  color: white;
}


.card-btn {
  background-color: #FDFEFF;
  border: 2px solid;
  border-radius: 0.4rem;
  color: #fd585c;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  padding: 1rem;
  transition: .2s;
  width: 6rem;
}

.card-btn:hover {
  background-color: #fd585c;
  color: white;
}

.card-header {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-align: center;
}

.card-img {
  display: block;
  height: 15rem;
  object-fit: cover;
  width: 100%;
}

.card-text {
  color: #3d3d3d;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  margin-bottom: 2.5rem;
}

.container {
  max-width: 1300px;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashHeader {
  font-size: 4.5rem;
  line-height: 6rem;
  text-align: center;
  margin-bottom: 4rem;
}

.detailsBtn {
  margin-left: 5.5rem;
}



.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-item {
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 3.5rem;
  transition: 0.2s;
  width: 25rem;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}


.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* ------ PAYMENT FORM ------- */ 

  .cardInput {
    background-color: #FDFEFF;
    border: 2px solid #fd585c;
    border-radius: 4px;
    margin-bottom: 5%;
    margin-left: 12%;
    margin-top: 5%;
    padding: 1%;
    width: 75%;
  }






















.content-area{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.welcomecontent{
  text-align: center;
}

.App {
  border-radius: 5px;
  background-color: white;
}


#wrapper 
{
    margin: 0px auto;
    font-family: sans-serif;
}

#header
{
    display: inline-block;   
    
}

.form 
{
    display: inline-block;
    border: 5px solid black;
    width: 700px;
    text-align: center;
    vertical-align: top;
    margin: 25px;
}

input
{
    display: block;
}

.submit
{
    margin: 15px 0px 25px 215px;
}

#messages
{
    background-color: red;
    color: black;
    padding: 15px;
}

#messages li
{
    display: inline-block;
    margin: 10px;
}

.content
{
    display: inline-block;
    border: 5px solid black;
    vertical-align: top;
    padding: 25px;
}



.detailsheader {
  display: inline-block;
  color: #fd585c;
}

.headerBar {
  background-color: #060b26;
}

.linkspace {
  margin-left: 500px;
}



.outline {
  display: inline-block;
  background: white;
  height: 275px;
  width: 347px;
  margin: 0em auto 10em;
  outline: 2px solid black;
} 


.top {
  vertical-align: top;
}



.skillheaders {
  display: block;
}


.new {
  display: inline-block;
}


.edit {
  display: inline;
}

.box1 {
  display: inline-block;
  width: 50%;
}

.homepage {
  margin-left: 400px;
}


.home, .dashboard, .submit {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}


img {
  max-width: 100%;
}

.image {
  flex-basis: 40%;
}



.map {
  width: 400px;
  height: 200px;
}



