@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}



/* -------HOME-------- */


.backgroundImage {
  background-image: url('assets/dog.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* filter: blur(2px); */
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.buttonContainer {
  padding: 4rem;
  text-align: center;
}

.dashboardButton {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.7rem;
  margin: 1rem;
  border: 4px solid;
  color: #fd585c;
  background-color: #FDFEFF;
  border-radius: 0.4rem;
  transition: .2s;
  width: 15rem;
}

.dashboardButton:hover {
  background-color: #fd585c;
  color: white;
}


.welcomeHeader {
  color: #fd585c;
  font-size: 6rem;
  padding-top: 6rem;
  text-align: center;
} 


.welcomeDescription {
  color: #FDFEFF;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 3.5rem;
  text-align: center;
}



/* ------ LIST ALL ------- */

.add-pet {
  background-color: #FDFEFF;
  border: .2rem solid;
  border-radius: 0.4rem;
  color: #fd585c;
  font-family: inherit;
  font-weight: bold;
  font-size: .8rem;
  padding: .5rem;transition: .2s;
  position: absolute;
  right: 1rem;
  top: 5.5rem;
  width: 7rem;
}

.add-pet:hover {
  background-color: #fd585c;
  border-color: #fd585c;
  color: white;
}

.card-btn {
  background-color: #FDFEFF;
  border: 2px solid;
  border-radius: 0.4rem;
  color: #fd585c;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  padding: 1rem;
  transition: .2s;
  width: 6rem;
}

.card-btn:hover {
  background-color: #fd585c;
  color: white;
}


.card-header {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-align: center;
}

.card-img {
  display: block;
  height: 15rem;
  object-fit: cover;
  width: 100%;
}

.card-text {
  color: #3d3d3d;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  margin-bottom: 2.5rem;
}

.container {
  max-width: 1300px;
  margin: auto;
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.dashHeader {
  font-size: 4.5rem;
  line-height: 6rem;
  text-align: center;
  margin-bottom: 4rem;
}

.details {
  margin-left: 5.5rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-item {
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 3.5rem;
  transition: 0.2s;
  width: 25rem;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}


.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}





.content-area{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.welcomecontent{
  text-align: center;
}

.App {
  border-radius: 5px;
  background-color: white;
}

.headTable {
  width: 100%;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5x 5px 0 0;
  overflow: hidden;
} 

.headTable thead {
  padding: 12px 0px;
  color: white;
  background-color: #fd585c;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
} 

.headTable td, th {
  padding: 12px 15px;
} 

.headTable tr:nth-child(even) {
  background-color: #f7f7f7;
  font-style: oblique;
  font-size: medium;
  font-weight: 200;
} 

.headTable tr:nth-child(odd){
  font-size: medium;
  font-style: Lucida;
}

tr:hover {
  border-bottom: 1px solid #dddddd;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #fd585c;
}

#wrapper 
{
    margin: 0px auto;
    font-family: sans-serif;
}

#header
{
    display: inline-block;   
    
}

.form 
{
    display: inline-block;
    border: 5px solid black;
    width: 700px;
    text-align: center;
    vertical-align: top;
    margin: 25px;
}

input
{
    display: block;
}

.submit
{
    margin: 15px 0px 25px 215px;
}

#messages
{
    background-color: red;
    color: black;
    padding: 15px;
}

#messages li
{
    display: inline-block;
    margin: 10px;
}

.content
{
    display: inline-block;
    border: 5px solid black;
    vertical-align: top;
    padding: 25px;
}

.AdoptButton {
  color: white;
  background-color: #cf2a27;
  margin-left: 375px;
}

.detailsheader {
  display: inline-block;
  color: #fd585c;
}

.headerBar {
  background-color: #060b26;
}

.linkspace {
  margin-left: 500px;
}

.secondheader {
  display: inline-block;
  color: 
}

.outline {
  display: inline-block;
  background: white;
  height: 275px;
  width: 347px;
  margin: 0em auto 10em;
  outline: 2px solid black;
} 


.top {
  vertical-align: top;
}

.pic {
  max-height: 400px;
  max-width: 400px;
}

.skillheaders {
  display: block;
}

.container {
  border-color: black;
  border-radius: 10%;
}

.new {
  display: inline-block;
}

.addpetbutton {
  color: white;
  background-color: #2b78e4;
  width: 100px;
}

.edit {
  display: inline;
}

.box1 {
  display: inline-block;
  width: 50%;
}

.homepage {
  margin-left: 400px;
}


.home, .dashboard, .submit {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.boxDetails {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

img {
  max-width: 100%;
}

.image {
  flex-basis: 40%;
}

.petDetails {
  font-size: 20px;
  padding-left: 20px;
}

.type {
  padding: 5px;
} 

.map {
  width: 400px;
  height: 200px;
}



