.navbar {
    align-items: center;
    background-color: #060b26;
    color: #FDFEFF;
    display: flex;
    height: 8rem;
    justify-content: start;
    text-align: right;
}

.title {
    font-size: 3.5rem;
    margin-left: 5rem;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #060b26;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    position: absolute;
    transition: 350ms;
    z-index: 2;
}

.nav-text {
    align-items: center;
    color: #FDFEFF;
    display: flex;
    justify-content: start;
    height: 6rem;
    list-style: none;
    padding: 8px 0px 8px 16px;
    
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 20px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #1a83ff;
}

.nav-menu-items {
    width: 100%;
    z-index: 2;
}

.navbar-toggle {
    align-items: center;
    background-color: #060b26;
    display: flex;
    height: 80px;
    justify-content: start;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.pawIcon {
    font-size: 5rem;
    margin-left: 1rem;
}

span {
    margin-left: 16px;
    z-index: 2;
}
